#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 12em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  border-radius: 50%;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.para {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container1{
  display: flex;
  flex-direction:row;
  justify-content:space-around;
  align-items: center;
  margin-left: 2.5rem;
  color: rgba(255, 255, 255, 0.87);
}

.container2{
  margin-top: 2rem;
  margin-left: 5rem;
}

.card{
  background-color: #4d008f  ;
   /* border: 3px solid #ddd;  */
  /* border-radius: 1rem; */
  margin-bottom: 2.5rem;
  margin-right: 2.5rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  width: 20rem;
}


.card:hover {
  filter: drop-shadow(0 0 2em #ffff);
  cursor: pointer;
}
.generate{
  margin-left: 2rem;
}







